main.section--container
  section.section--record
    button#record Record
    #countdown
  section.section--recording
    h1.loading RECORDING
      span.dot_one  .
      span.dot_two  .
      span.dot_three  .
  section.section--playback
    button#playback Playback
  section.section--video
    p#close close[x]
    video#video(width="100%" height="100%" muted controls=true)