head
  title SlowMo Booth!
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(charset="utf-8")
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='stylesheet', href='/style.css')

  link(rel="shortcut icon" type="image/png" href="/images/camera.png")